.main__publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
}

.main__publications-title {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 13px;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;

    color: #333333;
}

.main__publications-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    color: #777777;
}

.slider__item {
    display: flex;
    flex-direction: column;

    width: 370px;
    height: 504px;
    border-radius: 9px;

    background-color: #F6F4F9;
}

.slider__img {
    border-radius: 9px 9px 0 0;
}

.main__publications-slider {
    margin-top: 40px;
}

.slider__control {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 0;
    padding-top: 7px;

    width: 49px;
    height: 49px;
    border-radius: 90px;
    border: none;
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2);

    background-color: #FFFFFF;
    color: #D3D0D6;
}

.slider-next {
    position: relative;
    left: 590px;
    top: -331px
}
.slider-prev {
    position: relative;
    right: 590px;
    top: -284px
}

.slider__control:hover {
    
    color: #791281;
}

.slider__control:active {
    box-shadow: 0px 0px 9px 0px rgba(154, 164, 172, 0.56) inset;
}


.slider {
    width: 1170px;
    height: 504px;
    
    overflow: hidden;
}


.slider-line {
    height: 504px;
    width: 1110px;
    gap:30px;
    
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-title {
    margin: 21px 17px 13px 30px;

    color: #333333;
    font-size: 22px;
}

.slider-text {
    margin-right: 32px;
    padding-bottom: 26px;
    margin-left: 30px;
    
    margin-block-start: 0;
    margin-block-end: 0;

    border-bottom: 2px solid #EAE8EC;

    color: #777777;

    font-size: 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.slider-icon__conteiner-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 20px 32px auto 30px;

}
.slider-icon__conteiner-calendar {
    display: flex;
    align-items: center;
    
    gap: 7px;

    color: #C4C4C4;
    font-size: 15px;
    font-weight: 500;
    font-size: 15px;
}

.slider-icon__conteiner-calendar__text {
    padding-top: 3px;
}