.text {
    font-family: 'TT Commons';
}

.textBold {
    font-weight: 600;
}

@font-face {
    font-family: "TT Commons";
    src: url("/assets/fonts/TTCommons-Medium.ttf") format("truetype");
    font-style: normal; 
font-weight: normal; 
}

