html {
    scroll-behavior: smooth;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1440px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Для маленького экрана */
@media screen and (max-width: 414px) {
    .page {
        width: 414px;
    }
}